<!DOCTYPE html>
<html>
<head>
    <title>Parcel Search</title>
</head>
<body>
    <h1>Search Parcels</h1>
    <form method="POST">
        <label>County:</label>
        <input type="text" name="county" required><br><br>

        <label>State:</label>
        <input type="text" name="state" value="MI" required><br><br>

        <label>Max Value:</label>
        <input type="number" name="max_value"><br><br>

        <label>Min SqFt:</label>
        <input type="number" name="min_sqft"><br><br>

        <label>Max SqFt:</label>
        <input type="number" name="max_sqft"><br><br>

        <label>Year Built (min):</label>
        <input type="number" name="year_min"><br><br>

        <button type="submit">Search</button>
    </form>
</body>
</html>
